body{
	font-family: 'Roboto', sans-serif;
	color: #767676;
	background-color: red ;
}

a{
	 text-decoration:none;
	 color: black;
}

.borderCentral{
	border: 1px solid #C8C8C8;
	padding: 3rem;
	border-radius: 7px;
	width: 30%;
	margin: 0 auto;
	margin-top: 30px;
	background-color: #0E212C;
	
	
}

.textoWhite{
	
	color: white;
}

.camposPassw{
	width: 100%;
	font-size: 17px;
	padding: 10px;
	height: 60%;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #E5E5E5;
	color: black;
	border-radius: 7px;


}

.camposPassww{
	width: 30%;
	font-size: 17px;
	padding: 10px;
	height: 60%;
	margin-top: 20px;
	margin-bottom: 20px;
	color: black;
	border-radius: 7px;


}



.camposPassw::placeholder { color: black; }

.btnCambiarContra{
	background-color: #447EB0;
	border-radius: 3px;
	color: white;
	text-align: center;
	border: none;
	padding: 10px 25px;
	margin-top: 40px;
	width: 100%;
	font-family: 'Roboto', sans-serif;

	font-size: 20px;
	letter-spacing: 1px;
	

}

.btnCambiarContraa{
		background-color: #3074EC;
	font-size: 15px;
	font-weight: 600;
	border-radius: 3px;
	color: white;
	border: none;
	padding: 10px 25px;
	margin-top: 40px;
	
}

.contenedorbtnCambiarContraa{
	text-align: right;
}

.btnCambiarContraa:hover{
	
	cursor: pointer;
}


.btnCambiarContra:hover{
	
	cursor: pointer;
	
}

.borderLinea{
	border-bottom: 1px solid #C8C8C8;

	margin-bottom: 30px;
}
.contenederInformacion{
	width: 35%;
	margin: 0 auto;
	
	text-align: justify;
}

.contenedorTitulo{
	width: 60%;
	margin-left: 33%;
	margin-top: 100px;
	color: black;
	font-size: 30px;

	display: grid;
    grid-template-columns:repeat(2,1fr);
    color: #545454;

}




.negrita{
	font-style: bold;
}


.borderCentrall{
	border: 1px solid #C8C8C8;
	padding: 3rem;
	border-radius: 7px;
	width: 25%;
	margin: 0 auto;
	margin-top: 100px;
	background-color: #0E212C;
	color:  white;
}

.campoNombre{
	color: black;
	font-size: 26px;
	text-align: center;
	color:  white;
}

.campoEmail{
	margin: 0 auto;
	
	padding: 5px;
	width: 60%;
	color:  white;
	text-align: center;

}

.contenedorcampoEmail{
	border: 2px solid #C8C8C8;
	border-radius: 7px;

}


.divContra{
	
	
	margin: 0 auto;
	margin-top: 30px;
	width: 100%;
	margin-bottom: 20px;
}
